/data/
/notebooks/.ipynb_checkpoints/
/scripts/local.py
*.pyc
*.pc
*.pyc
/scripts/data_prep/local.py
/.ipynb_checkpoints/
/notebooks/itps_voice_recognition/
/itpsaudio/.ipynb_checkpoints/
/scripts/data/
/notebooks/assets/
/notebooks/models/
*.wav
notebooks/vocab.json
scripts/training/wandb/*
scripts/training/wandb/*.table.json
wandb/*
wandb/run-20220629_101608-3bdea5q4/files/wandb-summary.json
scripts/wandb/*
scripts/wandb/*.log
scripts/training/notebooks/.ipynb_checkpoints/*
.vscode/settings.json
*vocab.json